<nav style="min-height:50px"></nav>
<h1 class="col-xs-12">Adventurer</h1>
<div class="col-xs-12 col-sm-6">
    <h2>Character Info</h2>
    <p>Name: {{$ctrl.userInfo.name}}</p>
    <p>Money: {{$ctrl.userInfo.gold | currency}}</p>
    <p>You are capable of handling jobs with a difficulty of level&nbsp;{{$ctrl.userInfo.ilevel}}</p>
</div>
<div class="col-xs-12 col-sm-6">
    <h2>Inventory</h2>
    <div class="section">
        <div class="row" ng-repeat="item in filteredItems = ($ctrl.items | filter:{inventory:true})">
            <div class="well">
                <h2>{{item.name}}</h2>
                <div class="col-xs-12 col-sm-8">
                    <p>{{item.description}}</p>
                    <p>Item Level: {{item.level}}</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button ng-click="$ctrl.sellItem(item)" class="btn btn-danger">Sell for {{item.buyback}}</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
            <h2 ng-if="filteredItems.length == 0">You have nothing in your inventory.</h2>

    </div>
</div>